* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-image: url(../back4.jpg);
    background-size: cover;
}
.container{
    
   padding-left: 500px;
   padding-top: 250px;
   line-height: 1.5cm;
}

.login-box{
    box-sizing: border-box;
    border:solid black;
    width: 400px;
    align-items: center;
    text-align: center;
    border-radius: 30px;

}















